---

# SSH Port
ssh_port: 22

# Admin (sudo) account
# !!!! Generate encrypted with helpers/encrypt.py. See the README. !!!!
ssh_admin_username: admin
ssh_admin_password: replace_with_encrypted_password


# MySQL details
mysql_root_password: password

# Vhosts
vhosts:
  - # Example vhost
    domain: domain.com
    deploy_username: deploy
    mysql_database: database
    mysql_username: username
    mysql_password: password
    use_php: yes
    use_wordpress: yes
    php_max_children: 5
    php_start_servers: 2
    php_min_spare_servers: 1
    php_max_spare_servers: 3
