---

# SSH Port
ssh_port: 22

# Admin (sudo) account
# !!!! Generate encrypted password with helpers/encrypt.py. See the README. !!!!
ssh_admin_username: admin
ssh_admin_password: replace_with_encrypted_password

# MySQL details
mysql_root_password: password

# Capistrano
deploy_user: deploy

# WordPress Sites
wordpress_sites:
  - # Example WordPress Site
    site_name: vagrant.dev
    site_hosts:
      - vagrant.dev
      - 192.168.50.5
    user: vagrant
    site_install: yes
    site_title: Example Site
    admin_user: admin
    admin_password: admin
    admin_email: admin@vagrant.dev
    disable_cache: yes
    system_cron: yes
    env:
      wp_home: http://vagrant.dev
      wp_siteurl: http://vagrant.dev/wp
      wp_env: development
      db_name: example_dev
      db_user: example_dbuser
      db_password: example_dbpassword