---

###############################################
# Server settings
###############################################
ssh_port: 22

###############################################
# Admin account
###############################################
ssh_admin_username: admin

# !!!! Generate encrypted password with helpers/encrypt.py. See the README. !!!!
ssh_admin_password: replace_with_encrypted_password

###############################################
# Deploy account
###############################################
ssh_deploy_username: deploy


###############################################
# MySQL root
###############################################
mysql_root_password: password
