# {{ ansible_managed }}

{# Create staging environment server blocks #}

{% for environment in environments %}
##
# {{ environment|capitalize }}
##

server {
    # Host name to respond to
{% if environment == 'production' %}
    server_name {{ host }};
{% else %}
    server_name {{ environment }}.{{ host }};
{% endif %}

    # Web root
    root /srv/www/{{ host }}/{{ environment }}/{{ webroot }};

    # Logging
    access_log /var/log/nginx/{{ host }}.{{ environment }}.access.log;
    error_log /var/log/nginx/{{ host }}.{{ environment }}.errors.log;

    {% include 'roles/vhost/templates/nginx/partials/_' + type + '.j2' ignore missing  %}
    {% include 'roles/vhost/templates/nginx/partials/_common.j2' %}

}

{% endfor %}

{# Redirect from www. and other custom hosts #}
{% include 'roles/vhost/templates/nginx/partials/_redirect_hosts.j2' %}
