# {{ ansible_managed }}

user {{ nginx_user }};
worker_processes {{ nginx_worker_processes }};
pid /var/run/nginx.pid;

events {
    worker_connections {{ nginx_worker_connections }};
    # multi_accept on;
}

http {

    ##
    # Basic Settings
    ##

    sendfile {{ nginx_sendfile }};
    tcp_nopush {{ nginx_tcp_nopush }};
    tcp_nodelay {{ nginx_tcp_nodelay }};
    keepalive_timeout {{ nginx_keepalive_timeout }};
    types_hash_max_size {{ nginx_types_hash_max_size }};
    server_tokens {{ nginx_server_tokens }};

    # server_names_hash_bucket_size 64;
    # server_name_in_redirect off;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    ##
    # Default Logging Settings
    ##

    access_log {{ nginx_access_log}};
    error_log {{ nginx_error_log }};

    ##
    # Set index
    ##
    index {{ nginx_index }};

    ##
    # Gzip Settings
    ##

    gzip {{ nginx_gzip }};
    gzip_disable "{{ nginx_gzip_disable }}";
    gzip_comp_level {{ nginx_gzip_comp_level }};
    gzip_buffers {{ nginx_gzip_buffers }};
    gzip_proxied {{ nginx_gzip_proxied }};
    gzip_types {{ nginx_gzip_types }};

    gzip_vary {{ nginx_gzip_vary }};
    gzip_http_version {{ nginx_gzip_http_version }};

    ##
    # FastCGI caching setup
    ##

    fastcgi_cache_path /var/run/nginx-cache levels=1:2 keys_zone=CZONE:{{ fastcgicache_size }} inactive={{ fastcgicache_expires }};
    fastcgi_cache_key "$scheme$request_method$host$request_uri";
    fastcgi_cache_use_stale error timeout invalid_header http_500;
    fastcgi_ignore_headers Cache-Control Expires Set-Cookie;

    ##
    # Virtual Host Configs
    ##

    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*;
}
