# {{ ansible_managed }}

# Block access to sensitive PrestaShop files.
location ~* (?:settings.inc.php) { deny all; }

# Block access to backup/config/source files.
location ~* (?:\.(?:bak|config|sql|fla|psd|ini|log|sh|inc|swp|dist)|~)$ { deny all; }

# Skip logging.
location = robots.txt  { access_log off; log_not_found off; }
location = favicon.ico { access_log off; log_not_found off; }

# Prevent clients from accessing hidden files (starting with a dot)
# This is particularly important if you store .htpasswd files in the site hierarchy
location ~* (?:^|/)\.  { deny all; }
