# {{ ansible_managed }}

# Set FastCGI caching by default
set $skip_cache 0;

# Purge specific URLs by visiting /purge/page-to-purge/
location ~ /purge(/.*) {
    fastcgi_cache_purge CZONE "$scheme$request_method$host$1";
}

# Don't cache dynamic pages
if ($request_method = POST) { set $skip_cache 1; }
if ($query_string != "") { set $skip_cache 1; }
if ($request_uri ~* "(/wp-admin/|/xmlrpc.php|/wp-(app|cron|login|register|mail).php|wp-.*.php|/feed/|index.php|wp-comments-popup.php|wp-links-opml.php|wp-locations.php|sitemap(_index)?.xml|[a-z0-9_-]+-sitemap([0-9]+)?.xml)") { set $skip_cache 1; }
if ($http_cookie ~* "comment_author|wordpress_[a-f0-9]+|wp-postpass|wordpress_no_cache|wordpress_logged_in") { set $skip_cache 1; }